name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: "yarn"
      - name: Install
        run: |
          yarn install
          yarn playwright install
      - name: Lint
        run: yarn lint
      - name: Check formatting
        run: yarn run prettier . --check
      - name: Test
        run: yarn test
  release:
    # Note that this will auto-skip if we're not on main, thanks to our release configuration
    name: Release
    runs-on: ubuntu-latest
    needs:
      - ci
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: "yarn"
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Release
        run: yarn run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
