name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'yarn'
      - name: Install
        run: |
          yarn install
          yarn playwright install
      - name: Lint
        run: yarn lint
      - name: Check formatting
        run: yarn format:check
      - name: Test
        run: yarn test
      - name: Build
        run: yarn build
  build:
    name: Build
    needs: ci
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'yarn'
      - name: Install
        run: yarn install
      - id: setup_pages
        uses: actions/configure-pages@v5
      - name: Build
        run: yarn build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist
  deploy:
    name: Deploy
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: deploy
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'yarn'
      - name: Install
        run: yarn install
      - name: Release
        run: yarn run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
