name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: 'yarn'
      - name: Install
        run: |
          yarn install
          yarn playwright install
      - name: Lint
        run: yarn lint
      - name: Check formatting
        run: yarn format:check
      - name: Test
        run: yarn test
      - name: Build
        run: yarn build
