name: Deploy to Github Pages

on:
  release:
    types: [published]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: yarn install
      - id: setup_pages
        uses: actions/configure-pages@v5
      - name: Get app version
        run: echo "VITE_APP_VERSION=$(git describe --tags $(git rev-list --tags --max-count=1))" >> $GITHUB_ENV
      - name: Get current datetime
        run: echo "VITE_APP_DEPLOY_DATETIME=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
      - name: Build
        run: yarn build
        env:
          VITE_APP_VERSION: ${{ env.VITE_APP_VERSION }}
          VITE_APP_DEPLOY_DATETIME: ${{ env.VITE_APP_DEPLOY_DATETIME }}
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
